* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#section-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 50px;
}

div {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
}

/* Form elements styling */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

input[type="text"], 
input[type="email"], 
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

textarea {
    resize: vertical;
}

input[type="radio"] {
    margin-top: 5px;
    margin-right: 5px;
}
#label-radio{
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}
button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* diseño responsive */
@media (max-width: 600px) {
    div {
        padding: 15px;
    }

    label, 
    button {
        font-size: 14px;
    }
}